@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    scroll-behavior: smooth !important;
}

body {
    font-family: "Open Sans", 'Noto Sans Thai', sans-serif;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    /* bottom: 50px !important;
    text-align: left !important;
    left: 50px !important; */
}

#lg-container-1 {
    position: relative;
    z-index: 99999;
}

.lightgallery-vue {
    column-count: 4;
    column-gap: 10px;
}

@media screen and (max-width: 991px) {
    .lightgallery-vue {
        column-count: 2;
    }
}

.lightgallery-vue a {
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
}

.lightgallery-vue a>img {
    grid-row: 1 / -1;
    grid-column: 1;
}